body{
    color: #242424; 
    background-color: #F7F6F5;
    z-index: -2;
}
.with85{
    width: 85%;
    margin: 0 auto;
}
.with75{
    width: 1100px;
    margin: 0 auto;
}
.with65{
    width: 940px;
    margin: 0 auto;
}
.title{
    position: relative;
}
.title>div{
    color: #C7281E;
    width: 75%;
    letter-spacing: 3px;
    height: 150px;
    background-color: #fff;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.3);
    position: absolute;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 12.5%;
    top: -75px;
    z-index: 99999;

}
.title>div>h2{
    font-size: 50px;
    margin-right: 60px;
    font-weight: 700;

}    
.title>div>p{
    font-size: 16px;
    display: block;
    line-height: 2;
    padding: 16px 16px;
    border-left: 3px #C7281E solid;
   
} 
header{
    height: 60px;
    width: 100%;
}
.banner{
    background-image: url(../img/top_bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    z-index: -1;
    position: relative;
}
.banner_2{
    background-color: rgba(255, 255, 255, 0.7);
    height: 600px;
    z-index: -1;
}
header nav ul{
    float: right;
    width: 600px;
    display: flex;
}
header nav ul li{
    margin-top: 2%;
    width: 150px;
    text-align: center;
    display: block;
    border: 1px #C7281E solid;
    background-color: #fff;
    height: 30px;
    line-height: 30px;
}
header nav ul li a{
    color: #C7281E;
    font-size: 14px; 
}
#sousou{
    text-align: center;
}
#sousou img{
    margin-top: 2%;
    width: 400px;
    margin-bottom: 2%;
}
#sousou>div>p:nth-of-type(1){
    font-size: 24px;
    line-height: 1.5;
    margin-bottom: 10px;
    letter-spacing: 2px;
    color:#575757;
}
#sousou>div>em:first-of-type{
    font-size: 36px;
    font-style: italic;
    font-weight: 600;
    color: #C7281E;
    letter-spacing: 2px;
}
#sousou>div>em:nth-of-type(2){
    font-size: 24px;
    font-style: italic;
    color: #C7281E;
    margin-bottom: 8px;
}
#sousou>div>strong>p:nth-of-type(1) {
    font-size: 24px;
    line-height: 38px;
    margin: 10px 0;
    height: 38px;
    color: #fff;
    background-image: url(../img/quad.gif);
    background-repeat: no-repeat;
    background-position: center;
}
#sousou>div button{
    padding: 3px 10px;
    margin: 10px auto;
    font-size: 14px;
    letter-spacing: 1px;
    color: #ffffff;
    background-color:#C7281E;
    transform: skewX(-10deg);
    margin-left: 10px;
}
#sousou>div>p:nth-of-type(2){
    color: #c6c6c6;
    line-height: 2;
    color: #555;
    display: inline-block;
    text-align: left;
    -webkit-writing-mode: vertical-rl;
    writing-mode: vertical-rl;
    position: absolute;
    top: 80px;
    right: 15%;

}
.about{
    padding: 160px 0;
}
.about>div{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.about>div>div:nth-of-type(2){
    color: #4b0c08;
    line-height: 2;
    width: 70%;
    margin-left: 40px;
}
.about>div>div:nth-of-type(2) strong{
    font-size: 28px;
    font-weight: 600;
    color: #C7281E;
}
.about>div>div:nth-of-type(2) em{
    font-size: 18px;
    font-weight: 600;
    color: #C7281E;
}
main>div:nth-of-type(4){
    padding: 160px 0;
    border-top: 2px dashed #C7281E;
    border-bottom:2px dashed #C7281E;
}
main>div:nth-of-type(4) ul li{
    display: block;
    overflow: hidden;
    width: 100%;
}
main>div:nth-of-type(4) ul li div:nth-of-type(1){
    width: 280px;
    height: auto;
    display: block;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
main>div:nth-of-type(4) ul li:nth-child(odd) div:nth-of-type(1){
    float: left;
}
main>div:nth-of-type(4) ul li:nth-child(even) div:nth-of-type(1){
    float: right;
}
main>div:nth-of-type(4) ul li div:nth-of-type(1)>img{
    width: 110%;
    height: auto;  
}
main>div:nth-of-type(4) ul li div:nth-of-type(2){
    padding: 20px 40px;
    height: 240px;
    line-height: 2;
}
main>div:nth-of-type(4) ul li:nth-child(odd) div:nth-of-type(2){
    float: left;
}
main>div:nth-of-type(4) ul li:nth-child(even) div:nth-of-type(2){
    float: right;
}
main>div:nth-of-type(4) ul li div:nth-of-type(2) p{
    margin-top: 20px;
    color: #C7281E;
    letter-spacing: 2px;
    font-style: italic;
}
main>div:nth-of-type(4) ul li div:nth-of-type(2) h3{
    margin-top: 20px 0;
    font-weight: 600;
    color: #C7281E;
    font-size: 24px;
    letter-spacing: 2px;
}
main>div:nth-of-type(4) ul li div:nth-of-type(2) em{
    margin-top: 20px 0;
    color: #FFF;
    background-color: #C7281E;
    font-size: 20px;
    padding: 4px 18px;
    letter-spacing: 2px;
}
main>div:nth-of-type(4) ul li:nth-of-type(7) div:nth-of-type(1)>img{
    width: 50%;
    height: auto;
    margin:20%;
}
main>div:nth-of-type(4) ul li:nth-of-type(8) div:nth-of-type(1)>img{
    width: auto;
    height: 30%;
    margin:35% 22%;
}
main>div:nth-of-type(6){
    padding: 100px 0;
    background-color: #F9C9A8;
    position: relative;;
}
main>div:nth-of-type(6)>div:nth-of-type(2){
    display: flex;
}
main>div:nth-of-type(6){
   background-image: url(../img/letter.png);
    background-position: center left;
    
    background-repeat: no-repeat;
    z-index: 999;
}
main>div:nth-of-type(6)>div:nth-of-type(2)>div:nth-of-type(1){
    width: 75%;
    padding: 50px 0;
    display: block;
}
main>div:nth-of-type(6)>div:nth-of-type(2)>div:nth-of-type(2){
    width: 25%;
    float: left;
}
main>div:nth-of-type(6)>div:nth-of-type(2)>div:nth-of-type(2) img{
    margin-top: 50px;
    width: 100%;
    height: auto;
}
main>div:nth-of-type(6)>div:nth-of-type(2)>div:nth-of-type(1) h2{
    margin-top: 39px;
    margin-bottom: 14px;
    font-size: 34px;
    line-height: 1.5;
    letter-spacing: 4px;
    color: #C7281E;
}
main>div:nth-of-type(6)>div:nth-of-type(2)>div:nth-of-type(1) h2 strong {
    font-size: 42px;
    letter-spacing: 2px;
    color: #FFF;
    background-color: #C7281E;
    padding: 2px 8px;
    line-height: 1.5;
    margin-right: 10px;
}
main>div:nth-of-type(6)>div:nth-of-type(2)>div:nth-of-type(1) em {
    font-size: 32px;
    letter-spacing: 2px;
    color: #C7281E;
    padding: 2px 8px;
    line-height: 1.4;
    font-style: italic;
}
main>div:nth-of-type(6)>div:nth-of-type(2)>div:nth-of-type(1) p{
    margin: 60px 30px 60px;
    font-size: 16px;
    letter-spacing: 2px;
    color: #333;
    padding: 2px 8px;
    line-height: 2;
}
footer{
    width: 100%;
    height: 40px;
    background-color: #C7281E;
}

@media screen and (max-width:1024px){
    .with85{
        width: 93%;
        margin: 0 auto;
    }
    .with75{
        width: 85%;
        margin: 0 auto;
    }
    .with65{
        width:79%;
        margin: 0 auto;
    }
    .title>div{
        width: 80%;
    }
    .title>div>h2{
        font-size: 32px;
        margin-right: 10px;
        font-weight: 600;
    }    
    #sousou>div>p:nth-of-type(2){
        right: 8%;
    }
    .about>div:nth-of-type(1){
        display: flex;
        justify-content:space-around;
        position: relative;
    }
    .about>div>div:nth-of-type(2){
        line-height: 1.8;
        width: 60%;
        margin-left: 24px;
    }
    .about>div>div:nth-of-type(2) strong{
        font-size: 24px;
    }
    main>div:nth-of-type(6){
        padding: 100px 0 30px;
    }
    main>div:nth-of-type(6)>div:nth-of-type(2){
        display: flex;
        position: relative;
    }
    main>div:nth-of-type(6)>div:nth-of-type(2)>div:nth-of-type(1){
        width: 75%;
        margin-left: 60px;
    }
    main>div:nth-of-type(6)>div:nth-of-type(2)>div:nth-of-type(2){
        position: absolute;
        right: -40px;
    }
    main>div:nth-of-type(6)>div:nth-of-type(2)>div:nth-of-type(1) p{
        margin: 60px 60px 60px;
        font-size: 15px;
        letter-spacing: 1px;
    }
}
@media screen and (max-width: 400px){
    .title{
        position: relative;
    }
    .title>div{
        width: 85%;
        letter-spacing: 2px;
        height: 100px;
        top: -50px;
        left:calc(50% - 159px);
    }
    .title>div>h2{
        font-size: 30px;
        margin-right: 0;
        font-weight: 700;
    }    
    .title>div>p{
        display: none;
    } 
    header{
        height: 60px;
        width: 100%;
    }
    header nav ul{
        float: none;
        width: 95%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
    }
    header nav ul li{
        margin-top: 4%;
        width: 100px;
        text-align: center;
    }
    #sousou{
        text-align: center;
    }
    #sousou img{
        margin-top: 2%;
        width: 350px;
        margin-bottom: 2%;
    }
    #sousou>div>p:nth-of-type(1){
        font-size: 20px;
    }
    #sousou>div>em:first-of-type{
        font-size: 30px;
    }
    #sousou>div>p:nth-of-type(2){
        writing-mode: horizontal-tb;
        text-align: center;
        line-height: 1.4;
        top: 440px;
        font-size: 14px;
        right: calc(50% - 147px);
    }
    .about{
        padding: 160px 0;
    }
    .about>div{
        display: block;
        justify-content:center;
        align-items: center;
    }
    .about>div>div:nth-of-type(1)>div{
        display: none;
    }
    .about>div>div:nth-of-type(2){
        color: #4b0c08;
        line-height: 1.6;
        width: 95%;
        margin-left: 0;
    }
    .about>div>div:nth-of-type(2) strong{
        font-size: 28px;
    }
    main>div:nth-of-type(4) ul li:nth-child(odd) div:nth-of-type(1){
        float: none;
        margin: 0 auto;
    }
    main>div:nth-of-type(4) ul li:nth-child(even) div:nth-of-type(1){
        float: none;
        margin: 0 auto;
    }
    main>div:nth-of-type(4) ul li div:nth-of-type(1)>img{
        width: 110%;
        height: auto;  
        margin: 0 auto;
    }
    main>div:nth-of-type(4) ul li div:nth-of-type(2){
        padding: 10px 20px;
        height: 150px;
        text-align: center;
     
    }
    main>div:nth-of-type(4) ul li:nth-child(odd) div:nth-of-type(2){
        float: none;
        text-align: center;
    }
    main>div:nth-of-type(4) ul li:nth-child(even) div:nth-of-type(2){
        float: none;
    }
    main>div:nth-of-type(4) ul li div:nth-of-type(2) p{
        margin-top: 0;
    }
    main>div:nth-of-type(4) ul li div:nth-of-type(2) h3{
        margin-top: 0x 0;
        font-weight: 600;
        color: #C7281E;
        font-size: 24px;
        letter-spacing: 2px;
    }
    main>div:nth-of-type(4) ul li div:nth-of-type(2) em{
        margin-top: 20px 0;
        color: #FFF;
        background-color: #C7281E;
        font-size: 20px;
        padding: 4px 18px;
        letter-spacing: 2px;
    }
    main>div:nth-of-type(4) ul li:nth-of-type(7) div:nth-of-type(1)>img{
        width: 50%;
        height: auto;
        margin:20% auto;
    }
    main>div:nth-of-type(4) ul li:nth-of-type(8) div:nth-of-type(1)>img{
        width: auto;
        height: 30%;
        margin:35% auto;
    }
    main>div:nth-of-type(6){
        padding: 100px 0 30px;
        background-color: #F9C9A8;
        position: relative;;
    }
    main>div:nth-of-type(6)>div:nth-of-type(2){
        display: flex;
    }
    main>div:nth-of-type(6)>div:nth-of-type(2)>div:nth-of-type(1){
        width: 95%;
        padding-right: 0px;
        margin-left: 0px;
    }
    main>div:nth-of-type(6){
       background-image: url();
    }
    main>div:nth-of-type(6)>div:nth-of-type(2)>div:nth-of-type(2){
        display: none;
    }
    main>div:nth-of-type(6)>div:nth-of-type(2)>div:nth-of-type(2) img{
        display: none;
    }
    main>div:nth-of-type(6)>div:nth-of-type(2)>div:nth-of-type(1) h2{
        margin-top: 0px;
        margin-bottom: 0;
        font-size: 26px;
        position: absolute;
        top: 0;
        width: 330px;
    }
    main>div:nth-of-type(6)>div:nth-of-type(2)>div:nth-of-type(1) h2 strong {
        font-size: 32px;
    }
    main>div:nth-of-type(6)>div:nth-of-type(2)>div:nth-of-type(1) em {
        font-size: 22px;
        letter-spacing: 1px;
    }
    main>div:nth-of-type(6)>div:nth-of-type(2)>div:nth-of-type(1) p{
        margin: 30px 4px;
        letter-spacing: 1px;

    }
 
}

